<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Retro</title>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    {{#pastMonths}}
    <div id="past-months-container" class="container">
      <span id="n-months">{{ numMonths }}</span>
      <input
        type="range"
        id="retro-career-path"
        value="{{ sliderGrowth }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-appreciation"
        value="{{ sliderAppreciation }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-life"
        value="{{ sliderLife }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-projects"
        value="{{ sliderProjects }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-impact"
        value="{{ sliderImpact }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-role"
        value="{{ sliderRole }}"
        max="10"
        min="1"
        orient="vertical"
      />

      <div id="past-months">
        {{#projects}}
        <div>
          <div class="placeholder-1"></div>
          {{{ done }}}
        </div>
        <div>
          <div class="placeholder-2"></div>
          {{{ happiness }}}
        </div>
        <div>
          <div class="placeholder-3"></div>
          {{{ yourImpact }}}
        </div>
        <div>
          <div class="placeholder-4"></div>
          {{{ learnt }}}
        </div>
        <div>
          <div class="placeholder-5"></div>
          {{{ feedback }}}
        </div>
        {{/projects}}
      </div>
    </div>
    {{/pastMonths}}
    <div id="next-months-container" class="container">
      <div class="retro-fields">
        <div>
          <p>Test</p>
        </div>
        <div><p>Test2</p></div>
        <div><p>Test3</p></div>
      </div>
      <div id="next-months">
        <div><p>Test</p></div>
        <div><p>Test</p></div>
        <div><p>Test</p></div>
        <div><p>Test</p></div>
        <div><p>Test</p></div>
        <div><p>Test</p></div>
        <div><p>Test</p></div>
        <div><p>Test</p></div>
      </div>
    </div>
    <div id="find-future-container" class="container">
      <div class="retro-fields">
        <div>
          <p>Test</p>
        </div>
        <div><p>Test2</p></div>
        <div><p>Test3</p></div>
      </div>
      <div id="vision">
        <div><p>Test</p></div>
        <div><p>Test2</p></div>
      </div>
      <div id="change">
        <p>Test</p>
      </div>
      <div id="impact-future">
        <p>
          doiaois jgsoidfhpg oijcm oij[mois[o aicg[ms oadifj mac oifj[m
          soifhapum
        </p>
      </div>
      <div id="learning-future">
        <p>
          doiaois jgsoidfhpg oijcm oij[mois[o aicg[ms oadifj mac oifj[m
          soifhapum
        </p>
      </div>
      <div id="why-important">
        <p>
          doiaois jgsoidfhpg oijcm oij[mois[o aicg[ms oadifj mac oifj[m
          soifhapum
        </p>
      </div>
    </div>
  </body>
</html>
