<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Retro</title>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    {{#pastMonths}}
    <div id="past-months-container" class="container">
      <span id="n-months">{{ numMonths }}</span>
      <input
        type="range"
        id="retro-career-path"
        value="{{ sliderGrowth }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-appreciation"
        value="{{ sliderAppreciation }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-life"
        value="{{ sliderLife }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-projects"
        value="{{ sliderProjects }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-impact"
        value="{{ sliderImpact }}"
        max="10"
        min="1"
        orient="vertical"
      />
      <input
        type="range"
        id="retro-role"
        value="{{ sliderRole }}"
        max="10"
        min="1"
        orient="vertical"
      />

      <div id="past-months">
        {{#projects}}
        <div>
          <div class="placeholder-1"></div>
          {{{ done }}}
        </div>
        <div>
          <div class="placeholder-2"></div>
          {{{ happiness }}}
        </div>
        <div>
          <div class="placeholder-3"></div>
          {{{ yourImpact }}}
        </div>
        <div>
          <div class="placeholder-4"></div>
          {{{ learnt }}}
        </div>
        <div>
          <div class="placeholder-5"></div>
          {{{ feedback }}}
        </div>
        {{/projects}}
      </div>
    </div>
    {{/pastMonths}} {{#nextMonths}}
    <div id="next-months-container" class="container">
      {{#nextMonthsRetro}}
      <div class="retro-fields">
        <div>{{{ keepDoing }}}</div>
        <div>{{{ doMore }}}</div>
        <div>{{{ doLess }}}</div>
      </div>
      {{/nextMonthsRetro}}
      <div id="next-months">
        <div>{{{ myRole }}}</div>
        <div>{{{ developmentGoals }}}</div>
        <div>{{{ knowSucceeded }}}</div>
        <div>{{{ roadmap }}}</div>
        <div>{{{ alignment }}}</div>
        <div>{{{ needToLearn }}}</div>
        <div>{{{ supportNeeds }}}</div>
        <div>{{{ additionalNotes }}}</div>
      </div>
    </div>
    {{/nextMonths}} {{#future}}
    <div id="find-future-container" class="container">
      {{#careerRetro}}
      <div class="retro-fields">
        <div>{{{ keepDoing }}}</div>
        <div>{{{ doMore }}}</div>
        <div>{{{ doLess }}}</div>
      </div>
      {{/careerRetro}}
      <div id="vision">
        <div>{{{ wantBecome }}}</div>
        <div>{{{ whereFuture }}}</div>
      </div>
      <div id="change">{{{ neededChange }}}</div>
      <div id="impact-future">{{{ impactFuture }}}</div>
      <div id="learning-future">{{{ learningDesires }}}</div>
      <div id="why-important">{{{ whyImportant }}}</div>
    </div>
    {{/future}}
  </body>
</html>
