* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

html {
  font-size: 0.8vw;
}

#n-months {
  position: absolute;
  left: 16vw;
  top: 2%;
  font-size: 3em;
}

.container {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 70.76%;
}

body p {
  text-align: justify;
}

input[type='range'] {
  position: absolute;
  width: 2%;
  -webkit-appearance: slider-vertical;
}

#retro-career-path {
  top: 20.25%;
  right: 6.8%;
  height: 23%;
}

#retro-appreciation {
  top: 20.25%;
  right: 4.8%;
  height: 23%;
}

#retro-life {
  top: 20.25%;
  right: 2.65%;
  height: 23%;
}

#retro-projects {
  top: 47.75%;
  right: 6.8%;
  height: 21.4%;
}

#retro-impact {
  top: 47.75%;
  right: 4.8%;
  height: 21.4%;
}

#retro-role {
  top: 47.75%;
  right: 2.65%;
  height: 21.4%;
}

#past-months-container {
  background-image: url('/static/ULP_Toolkit_page_1.svg');
}

#next-months-container {
  background-image: url('/static/ULP_Toolkit_page_2.svg');
}

#find-future-container {
  background-image: url('/static/ULP_Toolkit_page_3.svg');
}

#vision {
  display: flex;
  position: absolute;
  top: 19%;
  left: 45.8%;
  height: 23.5%;
  width: 48%;
}

#vision > * {
  width: 49%;
}
#vision > :nth-child(2) {
  margin-left: 2%;
}

#change {
  position: absolute;
  top: 67%;
  left: 25%;
  height: 25%;
  width: 18%;
}

#impact-future {
  position: absolute;
  top: 56%;
  left: 55.5%;
  height: 15%;
  width: 13%;
}

#learning-future {
  position: absolute;
  top: 56%;
  left: 69.5%;
  height: 15%;
  width: 13%;
}

#why-important {
  position: absolute;
  top: 79%;
  left: 60%;
  height: 6%;
  width: 19.5%;
}

#past-months {
  position: absolute;
  display: grid;
  grid-template-rows: 21% 19.5% 18% 19% 14%;
  grid-auto-columns: minmax(0, 50%);
  grid-auto-flow: column;
  grid-row-gap: 2%;
  grid-column-gap: 2%;
  top: 15.5%;
  left: 3%;
  width: 82.5%;
  height: 76%;

  font-size: 0.8em;
}

#next-months {
  position: absolute;
  display: grid;
  grid-template-rows: 1.1fr 0.5fr 0.4fr;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-gap: 7% 2%;
  width: 74%;
  height: var(--h);
  left: 23.5%;
  top: 11%;
  --h: 74%;
}

#next-months > :nth-child(1) {
  grid-row: 1 / -1;
}
#next-months > :nth-child(5) {
  grid-row: 2 / -1;
}
#next-months > :nth-child(8) {
  grid-row: 2 / -1;
  grid-column: 4;
}
#next-months > :nth-child(7) {
  margin-top: -8%;
}

#past-months > :nth-child(1) .placeholder-1 {
  height: 15%;
  width: 10vw;
  float: left;
}

#past-months > :nth-child(2) .placeholder-2 {
  height: 15%;
  width: 20vw;
  float: left;
}

#past-months > :nth-child(3) .placeholder-3 {
  height: 15%;
  width: 12.5vw;
  float: left;
}

#past-months > :nth-child(4) .placeholder-4 {
  height: 15%;
  width: 12vw;
  float: left;
}

#past-months > :nth-child(5) .placeholder-5 {
  height: 17%;
  width: 18vw;
  float: left;
}

.retro-fields {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 19%;
  left: 2%;
  width: 17.5%;
  height: 75%;
}

.retro-fields > :nth-child(1) {
  height: 29%;
}

.retro-fields > :nth-child(2) {
  margin-top: 19%;
  height: 34%;
}

.retro-fields > :nth-child(3) {
  margin-top: 17%;
  height: 22%;
}
